<% Array(record[key]).each do |v| %>
  <% ead = Ead.where(legacy_pid_tesim: v) %>
  <% ead = ead.to_a.first unless ead.empty? %>
  <% if ead.nil? || ead.to_a.empty? %>
  <span itemprop="<%= key %>" itemscope itemtype="http://schema.org/Thing">
    <%= v %>
  </span>
  <% else %>
  <span itemprop="<%= key %>" itemscope itemtype="http://schema.org/Thing">
    <%= link_to(v,'/concern/eads/' + ead.id, {}) %>
  </span>
  <% end %>
<% end %>
