$tufts_blue: #6699CC;
$text_color: #404040;
$error_color: #d22;
$hint_color: #777;
$tufts_bar: #EEEEEE;
$tufts_header: #404040;
$gradient_top: #f5f5f5;
$gradient_bottom: #EEEEEE;

$main_padding: 20px 20px 20px 40px;
